[Unit]
Description=bbGPS Service
After=network.target display-manager.service 

[Service]
Environment=LD_LIBRARY_PATH=/usr/local/lib
Type=simple
User=root
StandardOutput=null

ExecStartPre=/space/bone/src/bbgps/uart1.sh
ExecStart=/space/bone/src/bbgps/bbgps
Restart=on-abort


[Install]
WantedBy=multi-user.target
